.features {
  padding:35px 20px;
  color: @main-color;
  text-align: center;
  &__title {
    font-size:24px;
    font-weight: 300;
    margin-bottom: 105px;
  }
  &__title br {
    height:30px;
  }
}
