/* Micro ClearFix Mixin */
.clearfix() {
  &:after {
    content: "";

    display: table;
    clear: both;
  }
}
.fieldset-border() {
  border: 2px solid @border-color;
  border-radius: 3px;
}

.fieldset-title() {
  position: absolute;
  top: -13px;
  left: 50%;

  padding: 0 30px;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: @accent-color;
  text-transform: uppercase;
  white-space: nowrap;

  background-color: @white-color;
  transform: translatex(-50%);
}


/*.placeholder() {
  ::-webkit-input-placeholder {
    color: #main-color;
  }
  ::-moz-placeholder {
    color: #main-color;
  }
  :-ms-input-placeholder {
    color: #main-color;
  }
}*/
