  .page-header {
background: url(../img/bg-back-mobile.jpg);
color: #ffffff;
  &__heading {
  padding:20px;
  background-color: rgba(0,0,0,0.3);
  .clearfix();
  }
  &__logo {
  float:left;
  }
  &__title {
  margin-top:20px;
  margin-bottom:30px;
  text-align:center;
  }
  &__img {
  width:258px;
  height:286px;
  float:left;
  }
}
