.achievement {
  margin: 0;
  margin-bottom: 32px;
  padding: 0;

  border: 0;

  &__label::before {
    content: "";

    display: inline-block;
    width: 35px;
    height: 35px;
    margin-right: 30px;

    vertical-align: middle;

    border: 2px solid @border-color;
  }
  &__title {
    display: block;
    margin-bottom: 41px;

    line-height: 18px;
    text-align: center;
    color: @accent-color;
    text-transform: uppercase;
  }
  &__label {
    display: inline-block;
    margin-bottom: 44px;

    font-size: 18px;
    vertical-align: middle;

    cursor: pointer;
  }
  input {
    display: none;
  }
}

@media @tablet-width {
  .achievement {
    position: absolute;
    top: 1783px;

    width: 620px;

    .fieldset-border();
    &__title {
      margin-bottom: 45px;
      padding: 0 30px;
    }
    &__title br {
      display: none;
    }
    &__label {
      margin-left: 58px;
    }
    &__label::before {
      margin-right: 23px;
    }
  }
}
@media @desktop-width {
  .achievement {
    top: 1210px;

    width: 940px;
    padding-bottom: 8px;


    &__section {
      display: inline-block;
      //margin-right: 55px;

      vertical-align: middle;
    }
    &__section:last-child {
      margin-right: 0;
    }
  }
}
