.conclusion {
  margin: 0;
  margin-bottom: 55px;
  padding: 0;

  border: 0;
  &__title {
    display: block;
    margin-bottom: 15px;

    line-height: 18px;
    text-align: center;
    color: @accent-color;
    text-transform: uppercase;
  }
  textarea {
    width: 85%;
    height: 160px;
    margin-bottom: 37px;
    padding: 20px;

    font-size: 18px;

    border: 2px solid @border-color;
    border-radius: 3px;

    resize: none;
  }
  &__btn {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    padding: 19px 0;

    font-weight: bold;
    font-size: 18px;
    color: @white-color;
    text-transform: uppercase;

    background: #2aab6d;
    border: 0;
    border-radius: 3px;
    outline: 0;
  }
  &__endnote {
    text-align: center;
    text-transform: uppercase;
  }
  &__endnote span {
    color: @accent-color;
  }
}
