.conclusion {
  margin: 0;
  margin-bottom: 55px;
  padding: 0;

  border: 0;
  &__title {
    display: block;
    margin-bottom: 15px;

    line-height: 18px;
    text-align: center;
    color: @accent-color;
    text-transform: uppercase;
  }
  textarea {
    width: 85%;
    height: 160px;
    margin-bottom: 37px;
    padding: 20px;

    font-size: 18px;

    border: 2px solid @border-color;
    border-radius: 3px;

    resize: none;
  }
  &__btn {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    padding: 19px 0;

    font-weight: bold;
    font-size: 18px;
    color: @white-color;
    text-transform: uppercase;

    background: #2aab6d;
    border: 0;
    border-radius: 3px;
    outline: 0;
  }
  &__endnote {
    text-align: center;
    text-transform: uppercase;
  }
  &__endnote--desktop {
    display: none;
  }
  &__endnote span {
    color: @accent-color;
  }
}
@media @tablet-width {
  .conclusion {
    position: relative;

    margin-bottom: 170px;
    padding: 23px 57px 15px 57px;

    .fieldset-border();
    &__title {
      padding: 0 30px;
    }
    textarea {
      width: 95%;
      height: 150px;
      padding-right: 0;
    }
    &__btn {
      position: absolute;
      bottom: -161px;
      left: 0;

      width: 48%;
    }
    &__endnote {
      position: absolute;
      right: -4px;
      bottom: -104px;
    }
  }
}
@media @desktop-width {
  .conclusion {
    margin-bottom: 135px;
    padding-top: 20px;
    padding-bottom: 0;
    textarea {
      width: 97%;
      height: 85px;
    }
    &__btn {
      bottom: -165px;

      width: 300px;
    }
    &__endnote {
      bottom: -108px;
    }
    &__endnote--tablet {
      display: none;
    }
    &__endnote--desktop {
      display: block;
    }
  }
}
