.contacts {
  text-align: center;
  // &__wrapper {
  //   .wrapper();
  // }
  &__title {
    margin-bottom: 35px;

    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
  }
  &__email,
  &__adress,
  &__tel {
    margin-bottom: 20px;
  }
  &__email h3,
  &__adress h3,
  &__tel h3 {
    display: block;
    margin: 0;
    margin-bottom: 5px;
    padding: 0;

    font-weight: 700;
    font-size: 18px;
  }
  &__email a,
  &__adress span,
  &__tel a {
    font-weight: 300;
    font-size: 24px;
    color: @accent-color;
    text-decoration: none;
  }
  &__adress {
    position: relative;
  }
  &__adress::after {
    content: "";
    position: absolute;
    bottom: -60px;
    left: -157px;

    width: 595px;
    height: 61px;

    background: url(../img/bg-triangle-white-footer.svg);
  }
  &__email--desktop {
    display: none;
  }
  &__map iframe {
    width: 100%;
    height: 220px;

    background-image: url(../img/bg-map.png);
    border: 0;
  }
}
@media @tablet-width {
  .contacts {
    // &__wrapper {
    //   width: auto;
    // }
    &__title {
      margin-bottom: 45px;

      font-size: 40px;
      line-height: 46px;
    }
    &__email,
    &__tel,
    &__adress {
      display: inline-block;
      width: 45%;
      margin-bottom: 45px;
    }
    &__adress::after {
      bottom: -106px;
    }
    &__email--desktop {
      display: none;
    }
    &__map iframe {
      height: 355px;
    }
  }
}
@media @desktop-width {
  .contacts {
    position: relative;
    // &__wrapper {
    //   width: 940px;
    //   margin: 0 auto;
    // }
    &__title {
      margin-bottom: 55px;

      font-size: 50px;
      line-height: 60px;
    }
    &__email,
    &__tel,
    &__adress {
      width: 33.3%;

      vertical-align: top;
    }
    &__email {
      display: none;
    }
    &__email--desktop {
      display: inline-block;
    }
    &__email h3,
    &__tel h3,
    &__adress h3 {
      margin-bottom: 28px;
    }
    &__map iframe {
      height: 475px;
    }
  }
}
