.contacts {
  text-align: center;
  &__wrapper {
    overflow: hidden;

    .wrapper();
  }
  &__title {
    margin-bottom: 35px;

    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
  }
  &__email,
  &__adress,
  &__tel {
    margin-bottom: 20px;
  }
  &__email h3,
  &__adress h3,
  &__tel h3 {
    display: block;
    margin: 0;
    margin-bottom: 5px;
    padding: 0;

    font-weight: 700;
    font-size: 18px;
  }
  &__email a,
  &__adress span,
  &__tel a {
    font-weight: 300;
    font-size: 24px;
    color: @accent-color;
    text-decoration: none;
  }
  &__adress {
    position: relative;
  }
  &__adress::after {
    content: "";
    position: absolute;
    bottom: -60px;
    left: -137px;

    width: 595px;
    height: 61px;

    background: url(../img/bg-triangle-white-footer.svg);
  }
  &__map iframe {
    width: 100%;
    height: 200px;

    background-image: url(../img/bg-map.png);
    border: 0;
  }
}
