.download {
  padding: 28px 20px 31px 20px;

  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: @white-color;

  background: #1d2631;

  &__link {
    display: block;
    margin-bottom: 33px;
    padding: 12px 0;

    font-weight: 700;
    font-size: 18px;
    color: @white-color;
    text-decoration: none;

    border: 3px solid @white-color;
    border-radius: 30px;
  }
  &__link:hover {
    color: @accent-color;

    background: @white-color;
  }
  &__link:active {
    color: @accent-color-tr;
  }
  &__list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-bottom: 13px;
    padding: 0;

    list-style-type: none;
  }
  &__item {
    margin: 0 17px;

    vertical-align: bottom;
  }

  &__logo-apple {
    width: 46px;
    height: 57px;
  }
  &__logo-android {
    width: 42px;
    height: 47px;
  }
  &__logo-microsoft {
    width: 44px;
    height: 42px;
  }
}
@media @tablet-width {
  .download {
    position: relative;
    z-index: 10;

    width: 43%;
    margin-left: 20px;

    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
    white-space: nowrap;

    background: none;
    &__link {
      margin-bottom: 47px;
      padding: 12px 0;
    }
    &__list {
      margin-bottom: 28px;
    }
    &__logo-android {
      opacity: 0.5;
    }
  }
}
@media @desktop-width {
  .download {
    width: 25%;
    margin-left: 112px;
    &__link {
      margin-bottom: 70px;

      font-size: 21px;
    }
    &__list {
      margin-bottom: 50px;
    }
  }
}
