.main-nav-btn {
  position: absolute;
  top: 27px;
  right: 20px;

  float: right;
  width: 50px;
  padding: 0;

  background-color: none;
  border: none;
  outline: none;
  &::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 0;

    width: 50px;
    height: 4px;

    background-color: @white-color;
  }
  &::before {
    content: "";
    position: absolute;
    top: -6px;
    left: 0;

    display: block;
    width: 50px;
    height: 16px;

    background-color: none;
    border-top: 4px solid @white-color;
    border-bottom: 4px solid @white-color;
  }
}
