.main-nav-btn {
  position: absolute;
  position: relative;
  top: -17px;
  right: 4px;
  z-index: 10;

  display: block;
  float: right;
  width: 50px;
  width: 50px;
  height: 4px;
  padding: 0;



  &::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 0;

    display: block;
    width: 50px;
    height: 4px;

    background-color: @white-color;
  }
  &:hover::after {
    background-color: @accent-color;
  }
  &:active::after {
    background-color: @accent-color-tr;
  }
  &::before {
    content: "";
    position: absolute;
    top: -6px;
    left: 0;

    display: block;
    width: 50px;
    height: 16px;

    background-color: none;
    border-top: 4px solid @white-color;
    border-bottom: 4px solid @white-color;
  }
  &:hover::before {
    border-top: 4px solid @accent-color;
    border-bottom: 4px solid @accent-color;
  }
  &:active::before {
    border-top: 4px solid @accent-color-tr;
    border-bottom: 4px solid @accent-color-tr;
  }
  &--close {
    display: block;
  }
  &--close::before,
  &--close::after {
    content: "";
    position: absolute;
    top: 5px;
    right: -3px;
    left: auto;

    display: block;
    width: 30px;
    height: 4px;

    background-color: @white-color;
    border: 0;
    transform: rotate(45deg);
  }
  &--close:hover::before,
  &--close:hover::after {
    background-color: @accent-color;
    border: 0;
  }
  &--close:active::before,
  &--close:active::after {
    background-color: @accent-color-tr;
    border: 0;
  }
  &--close::after {
    transform: rotate(-45deg);
  }
}
@media @tablet-width {
  .main-nav-btn {
    top: -49px;
    right: -21px;
    &::after {
      top: 27px;
      left: -20px;
    }
    &::before {
      top: 17px;
      left: -20px;
    }
    &--close::before,
    &--close::after {
      top: 27px;
      left: 4px;
    }
  }
}
@media @desktop-width {
  .main-nav-btn {
    display: none;
  }
}
