.main-nav {
  position: absolute;
  top: 69px;
  left: 0;
  z-index: 5;

  width: 100%;
  margin: 0;
  padding: 0;
  &--hide {
    display: none;
  }
  &__item {
    list-style-type: none;
    text-transform: uppercase;
  }
  &__item a {
    display: block;
    padding: 19px 0;

    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: @white-color;
    text-decoration: none;

    background-color: @main-color;
    border-top: solid 1px rgba(255,255,255,0.15);
    border-bottom: solid 1px #000000;
  }
}
@media @tablet-width {
  .main-nav {
    top: 108px;
  }
}
@media @desktop-width {
  .main-nav {
    position: static;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    // &--hide {
    //   display: block;
    // }
    &__item {
    }
    &__item a {
      padding: 42px 0;

      font-weight: 400;
      text-transform: capitalize;

      background: none;
      border: 0;
    }
  }
}
