.page-footer {
  padding-bottom: 45px;

  text-align: center;
  &__logo {
    display: inline-block;
    margin-bottom: 30px;
  }
  &__developer span,
  &__developer img {
    display: inline-block;

    vertical-align: middle;
  }
  &__developer span {
    margin-right: 15px;
  }
}
@media @mobile-width {
  .page-footer--mobile {
    display: none;
  }
}
@media @tablet-width {
  .page-footer {
    min-height: 90px;
    padding-top: 35px;
    padding-bottom: 0;
    &__logo,
    .social,
    &__developer {
      display: inline-block;
      margin-right: 78px;

      vertical-align: middle;
    }
    .social {
      margin-top: -15px;
      margin-bottom: 0;
    }
    &__developer {
      margin-top: -10px;
      margin-right: 0;
    }
  }
}
@media @desktop-width {
  .page-footer {
    min-height: 130px;
    padding-top: 65px;

    &__logo,
    .social,
    &__developer {
      margin-top: 0;
      margin-right: 225px;
      margin-bottom: 0;

      vertical-align: middle;
    }
    &__developer {
      margin-right: 0;
    }
    &__developer span {
      font-size: 18px;
    }
  }
}
