.popup {
  position: absolute;

  width: 280px;
  padding: 40px 20px 50px 20px;

  text-align: center;

  background: @white-color;
  box-shadow: 0 7px 15px 0 rgba(0,0,0,0.15);
  &--failure {
    top: 1165px;
  }
  &--success {
    top: 1640px;
  }
  &--hidden {
    display: none;
  }
  &__title {
    display: block;
    margin-bottom: 25px;

    font-size: 18px;
  }
  &__description {
    padding-bottom: 80px;
  }
  &__btn {
    display: block;
    width: 100%;
    padding: 19px 0;

    font-weight: bold;
    font-size: 18px;
    color: @white-color;
    text-transform: uppercase;

    background: #2aab6d;
    border: 0;
    border-radius: 3px;
    outline: 0;
  }
  &__btn--success {
    margin-top: 80px;
  }
  &__btn--failure {
    margin-top: 35px;
  }
}
