.price {
  margin-bottom: 85px;
  overflow: hidden;

  text-align: center;
  &__table {
    width: 848px;
    margin-bottom: 35px;

    text-transform: uppercase;

    transform: translateX(-264px);
  }
  &__table,
  &__table-column,
  &__table-row {
    border: 2px solid @border-color;
  }
  &__table-column {
    width: 280px;
    height: 58px;

    .clearfix();
  }
  &__table-column span {
    float: left;
    margin-left: 23px;
  }
  &__table-column img {
    float: right;
    margin-right: 20px;
  }
  &__table-column--head {
    padding: 20px 0;

    font-weight: 300;
    font-size: 24px;
    color: @white-color;

    background: @main-color;
  }
  &__table-column--head b {
    font-size: 18px;
  }
  &__slider-item {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-right: 12px;

    vertical-align: middle;

    background-color: #bec2c7;
    border-radius: 50%;
  }
  &__slider-item:last-child {
    margin-right: 0;
  }
  &__slider-item--active {
    background-color: @white-color;
    border: 3px solid @main-color;
  }
}
