.review {
  margin-bottom: 125px;

  text-align: center;
  &__review-2,
  &__review-3 {
    display: none;
  }
  &__author {
    font-size: 18px;
  }
  &__cite {
    margin: 15px 0 25px 0;

    line-height: 30px;
  }
  &__slider-item {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-right: 13px;

    vertical-align: middle;

    background-color: #bec2c7;
    border: 3px solid @white-color;
    border-radius: 50%;
  }
  &__slider-item:last-child {
    margin-right: 0;
  }
  &__slider-item--active {
    background-color: @white-color;
    border: 3px solid @main-color;
  }
  &__slider--desktop {
    display: none;
  }
}
@media @mobile-width {
  .review__author--tablet {
    display: none;
  }
}
@media @tablet-width {
  .review {
    margin-bottom: 100px;

    font-size: 18px;
    &__author--mobile {
      display: none;
    }
    &__author--tablet {
      margin-bottom: 33px;

      font-size: 24px;
    }
    &__author--tablet span {
      font-weight: normal;
      font-size: 18px;
    }
    &__cite {
      margin-bottom: 40px;
      padding: 0;
    }
    &__slider {
      margin-top: 30px;
    }
    &__slider-item {
      margin-right: 12px;
    }
  }
}
@media @desktop-width {
  .review {
    margin-bottom: 192px;
    padding: 0 70px;
    &__cite {
      padding: 0 40px;
    }
    &__slider {
      display: none;
    }
    &__slider--desktop {
      position: relative;

      display: block;
    }
    &__slider-item-prev::before,
    &__slider-item-prev::after,
    &__slider-item-next::before,
    &__slider-item-next::after {
      content: "";
      position: absolute;
      top: -147px;
      left: -75px;

      width: 30px;
      height: 2px;

      background: #bec2c7;
      transform: rotate(-45deg);
    }
    &__slider-item-prev::after {
      top: -127px;

      transform: rotate(45deg);
    }
    &__slider-item-next::before {
      left: 844px;

      transform: rotate(45deg);
    }
    &__slider-item-next::after {
      top: -127px;
      left: 844px;
    }
  }
}
