.upload {
  margin-bottom: 45px;

  background: #f2f2f2;
  &__title {
    width: auto;
    padding: 23px 20px 40px 20px;

    line-height: 30px;
    text-align: center;

    background: @white-color;
  }
  &__img {
    width: auto;
    height: 375px;
    padding: 20px 20px 15px 20px;
  }
  &__form {
    display: flex;
    flex-flow: column nowrap;
    width: auto;
    margin: 0 auto;
    padding: 20px 20px 40px 20px;
  }
  hr {
    width: 100%;
    height: 1px;
    margin-bottom: 38px;

    color: #dddfe0;

    background: #dddfe0;
    border: 0;
    outline: 0;
    transform: scaleX(1.15);
  }
  &__make-btn,
  &__cancel-btn {
    display: block;
    width: 100%;
    margin-bottom: 12px;
    padding: 12px 0;

    font-weight: bold;
    font-size: 18px;
    color: @accent-color;

    background: none;
    border: 3px solid @accent-color;
    border-radius: 30px;
  }
  &__cancel-btn {
    margin-bottom: 0;

    color: #dddfe0;

    border-color: #dddfe0;
  }
  &__cancel-btn:hover {
    border: 3px solid #b5b9be;
    outline: 0;
  }
  &__cancel-btn:active {
    color: rgba(255,255,255,0.3);

    background: #b5b9be;
    outline: 0;
  }
  &__make-btn:hover {
    color: @white-color;

    background: @accent-color;
    outline: 0;
  }
  &__make-btn:active {
    color: rgba(255,255,255,0.3);

    background: @accent-color;
    outline: 0;
  }
  &__make-btn:focus,
  &__cancel-btn:focus {
    outline: 0;
  }
}
@media @tablet-width {
  .upload {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 0;
    &__title {
      flex-basis: 100%;
      padding-bottom: 66px;

      font-size: 18px;
      line-height: 30px;
    }
    &__form {
      flex-basis: 39%;
      justify-content: space-between;
      height: 400px;
      margin-right: 0;
      padding: 60px 40px 55px 0;
    }
    &__img {
      flex-basis: 43%;
      height: 400px;
      padding: 60px 0 55px 40px;
    }
    hr {
      display: none;
    }
    &__btn {
      width: 95%;
    }
    &__make-btn {
      margin-bottom: 25px;
    }
    &__cancel-btn {
      margin-top: 0;
    }
  }
}
@media @desktop-width {
  .upload {
    margin-right: 130px;
    margin-bottom: 25px;
    margin-left: 130px;
    &__title {
      padding: 3px 0 65px 0;
    }
    &__form {
      flex-basis: 44%;
      padding: 60px 60px 60px 0;
    }
    &__img {
      flex-basis: 32%;
      padding: 60px 0 60px 80px;
    }
    &__btn {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      width: 100%;
    }
    &__make-btn,
    &__cancel-btn {
      flex-basis: 44%;
      margin-bottom: 0;
    }
  }
}
