.upload {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 70px;
  &__title {
    width: 100%;
    padding: 23px 0 60px 0;

    line-height: 30px;
    text-align: center;
  }
  &__img {
    width: 100%;
    height: 375px;
    margin-bottom: 40px;
  }
  &__form {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
  }
  hr {
    width: 100%;
    height: 1px;
    margin-bottom: 38px;

    color: #dddfe0;

    background: #dddfe0;
    border: 0;
    outline: 0;
    transform: scaleX(1.15);
  }
  &__make-btn,
  &__cancel-btn {
    display: block;
    width: 100%;
    margin-bottom: 12px;
    padding: 12px 0;

    font-weight: bold;
    font-size: 18px;
    color: @accent-color;

    background: none;
    border: 3px solid @accent-color;
    border-radius: 30px;
  }
  &__cancel-btn {
    color: #dddfe0;

    border-color: #dddfe0;
  }
}
@media @tablet-width {
  .upload {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 22px;
    &__title {
      margin-bottom: 65px;

      font-size: 18px;
      line-height: 30px;
    }
    &__form {
      justify-content: space-between;
      width: 44%;
      height: 400px;
    }
    &__img {
      width: 48.5%;
      height: 400px;
    }
    hr {
      display: none;
    }
    &__btn {
      width: 95%;
    }
    &__make-btn,
    &__cancel-btn {
      margin-top: 25px;
      margin-bottom: 0;
    }
  }
}
@media @desktop-width {
  .upload {
    margin-bottom: 50px;
    &__title {
      padding: 3px 0 60px 0;
    }
    &__form {
      width: 43.5%;
      margin-right: 6.4%;
      margin-left: auto;
    }
    &__img {
      width: 32%;
      margin-left: 8.5%;
    }
    &__btn {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
    }
    &__make-btn,
    &__cancel-btn {
      width: 48%;
    }
  }
}
