.upload {
  margin-bottom: 70px;

  .clearfix();
  &__title {
    padding: 23px 0 60px 0;

    line-height: 30px;
    text-align: center;
  }
  &__img {
    width: 280px;
    height: 375px;
    margin-bottom: 32px;
  }
  hr {
    width: 320px;
    height: 1px;
    margin-bottom: 38px;
    margin-left: -20px;

    color: #dddfe0;

    background: #dddfe0;
    border: 0;
    outline: 0;
  }
  &__make-btn,
  &__cancel-btn {
    display: block;
    width: 100%;
    margin-bottom: 12px;
    padding: 12px 0;

    font-weight: bold;
    font-size: 18px;
    color: @accent-color;

    background: none;
    border: 3px solid @accent-color;
    border-radius: 30px;
  }
  &__cancel-btn {
    color: #dddfe0;

    border-color: #dddfe0;
  }
}
@media @tablet-width {
  .upload {
    margin-bottom: 22px;
    // &__wrapper {
    //   width: 620px;
    // }
    &__title {
      margin-top: 20px;
      margin-bottom: 65px;

      font-size: 18px;
      line-height: 30px;
    }
    &__img {
      float: left;
      width: 300px;
      height: 400px;
    }
    hr {
      display: none;
    }
    &__make-btn,
    &__cancel-btn {
      float: right;
      width: 260px;
      margin-top: 40px;
      margin-right: 13px;
    }
    &__cancel-btn {
      margin-top: 13px;
    }
  }
}
@media @desktop-width {
  .upload {
    margin-bottom: 60px;
    &__title {
      margin-top: -20px;
    }
    &__img {
      margin-left: 80px;
    }
    &__make-btn,
    &__cancel-btn {
      float: left;
      width: 185px;
      margin-top: 137px;
      margin-right: 20px;
    }
    &__make-btn {
      margin-left: 90px;
    }
  }
}
