.user-info {
  margin: 0;
  margin-bottom: 62px;
  padding: 0;

  border: 0;
  label {
    display: block;
    margin-bottom: 8px;
    margin-left: 23px;

    color: @accent-color;
    text-transform: uppercase;
  }
  input {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 20px;
    padding: 17px 20px;

    font-size: 18px;
    color: @main-color;

    border: 2px solid @border-color;
    border-radius: 3px;
    outline: 0;
    /*.placeholder();*/
  }
}
@media @tablet-width {
  .user-info {
    margin-bottom: 1358px;
    &__input-container {
      margin: 0;
      margin-bottom: 55px;
      padding: 0;
      overflow: hidden;

      border: @border-color 2px solid;
      border-radius: 3px;
    }
    input {
      clear: left;
      width: 100%;
      margin: 0;
      margin-bottom: 0;
      padding: 17px 25px;

      border: 0;
    }
    label {
      float: left;
      margin-right: 20px;
      margin-left: 0;

      line-height: 64px;
      vertical-align: middle;
    }
  }
}
@media @desktop-width {
  .user-info {
    width: 46%;
  }
}
@media @desktop-width {
  .user-info {
    margin-bottom: 524px;
  }
}
